html{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

html, body, #root, #root > div, .App{
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

.navbar{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.navbar > .navbar-links > a,
.navbar > .navbar-links > a:visited,
.navbar > .navbar-links > a:link{
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

.user-panel{
  display: flex;
}

.logout {
  display: flex;
  justify-content: flex-end;
}

.logout > div:hover {
  cursor: pointer;
}

.user-img{
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.movie-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-container{
  min-height: calc(100% - 100px);
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.app-title{
  font-style: normal;
  font-weight: 700;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin: 50px;
  text-align: center;
  font-size: 70px;
}

.search-wrapper{
  display: flex;
  justify-content: center;
  margin: 40px;
}

.search-wrapper > input {
  width: 500px;
  height: 30px;
}

.movie-list-container{
  display: flex;
  flex-flow: wrap;
  max-height: 1
}

.movie {
  width: 200px;
  margin: 25px 50px;
  display: flex;
  flex-direction: column;
}

.movie-poster{
  height: 300px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.movie-poster, .movie-poster > img{
  width: 200px;
  max-height: 300px;
}

.movie-poster > div{
  margin: auto;
  text-align: center;
  font-style: normal;
  color: inherit;
  font-size: 20px;
}

.movie-title{
  text-align: center;
  font-weight: 300;
  font-style: normal;
  color: inherit;
  font-size: 20px;
}

.movie-actions{
  display: flex;
  justify-content: center;
  height: 60px;
}

.button{
  display: flex;
  padding: 10px 20px;
  height: 40px;
  color: #333333;
  transition: all .2s;
  margin-bottom: 70px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  text-decoration: none;
  border: 1px solid #333333;
}

.button-small{
  padding: 0px;
  width: 70px;
}

.button:hover{
  color: #fff;
  background-color: #333333;
  cursor: pointer;
}

.message{
  text-align: center;
  font-size: 50px;
  padding: 50px;
}

.fb-auth{
  display: flex;
  justify-content: center;
}

/* FULL MOVIE */
.movie-full{
  display: flex;
  width: 800px;
  flex-direction: column;
  margin-top: 35px;
}

.movie-full-split-wrapper{
  display: flex;
  flex-direction: row;
}

.movie-full-split-wrapper > div{
  display: flex;
  
  margin: 10px;
  justify-content: center;
  flex-direction: column;
}

.movie-full-split-wrapper > :nth-child(1){
  width: 300px;
}

.movie-full-split-wrapper > :nth-child(2){
  width: 500px;
}

.movie-full-title{
  text-align: center;
  font-weight: 300;
  font-style: normal;
  color: inherit;
  font-size: 50px;
}

.movie-full-poster{
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-full-poster > div{
  width: 100%;
  height: 100%;
  border: 1px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-full-plot{
  text-align: justify;
  text-justify: inter-word;
}

.movie-full-details-container{
  display: flex;
  flex-direction: column;
}

.movie-full-details-container > div{
  display: inline-flex;
  margin-top: 10px;
}

.movie-full-details-container > div > div{
  margin-left: 5px;
}

.movie-full-favourite{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}